.display-title {

    margin: auto;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 500px;
}

.small-text {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    top: 150px;
    width: 500px;
    background-color: whitesmoke;
    padding: 70px;
    border-radius: 10px;
    left: 750px;
    transform: translateX(-10%);
    display: flex;
    justify-content: center;
    align-items: center;
}



.prev {

    margin: auto;
    position: absolute;
    top: 320px;
    left: 300px;
    font-size: 24px;
    font-weight: bold;
}

.bonifaciopic {

    margin: auto;
    position: absolute;
    top: 150px;
    left: 350px;


}

.treepic {

    margin: auto;
    position: absolute;
    top: 380px;
    left: 350px;


}

.fiestapic {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 380px;
    left: 800px;
}

.bloodpic {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 380px;
    left: 575px;
}

.feedpic {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 380px;
    left: 1025px;
}

.tree {

    margin: auto;
    position: absolute;
    top: 480px;
    left: 400px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.blood {

    margin: auto;
    position: absolute;
    top: 480px;
    left: 620px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.fiesta {

    margin: auto;
    position: absolute;
    top: 480px;
    left: 840px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.feed {

    margin: auto;
    position: absolute;
    top: 480px;
    left: 1060px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
